@import url(https://db.onlinewebfonts.com/c/379f355d2cc596f2c28da7b457ce25f6?family=Almoni+ML+v5+AAA+Light);

@font-face {
  font-family: "Almoni ML v5 AAA Light";
  src: url("https://db.onlinewebfonts.com/t/379f355d2cc596f2c28da7b457ce25f6.eot");
  src: url("https://db.onlinewebfonts.com/t/379f355d2cc596f2c28da7b457ce25f6.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/379f355d2cc596f2c28da7b457ce25f6.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/379f355d2cc596f2c28da7b457ce25f6.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/379f355d2cc596f2c28da7b457ce25f6.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/379f355d2cc596f2c28da7b457ce25f6.svg#Almoni ML v5 AAA Light")
      format("svg");
}

html {
  overflow: hidden;
  height: 100%;
}   


#main-container {
  margin-top: 15vh;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  display: flex;
  font-family: "Almoni ML v5 AAA Light";
  color: aliceblue;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  transition: width 2s, height 2s, transform 2s;
}

#weather-icon {
  width: 2rem;
  margin: auto;
}

#weather {
  display: flex;
  flex-direction: column;
  width: 23rem;
  padding: 3rem;
  text-align: center;
  background-image: url("https://i.ibb.co/6vRJpw4/glass-panel2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#empty{
    display: flex;
    flex-direction: column;
    width: 10rem;
}

#time-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 2rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: "Almoni ML v5 AAA Light";
  font-size: 3rem;
  color: white;
}

#form1 {
  font-family: "Almoni ML v5 AAA Light";
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-city {
  border-radius: 10px;
  border: 1px;
  height: 2rem;
  width: 10rem;
  padding: 2%;
}

#submit-button {
  background-color: #f38600;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2%;
  font-size: 1rem;
  margin: 2%;
  width: 5rem;
}

#form1::placeholder {
  font-family: "Almoni ML v5 AAA Light";
}

#temp {
  font-size: 6rem;
  margin: 0;
}

#toggle-cont{
  width: 5rem;
  margin: auto;
}

.toggle-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #f38600;
  color: white;
  font-weight: 400;
  font-size: 10px;
  margin: 6px;
}


#sunrise-button{
  background-color: #ffffff;
  color: #f38600;
  text-align: center;
  padding: 2%;
  font-size: 1rem;
  border-radius: 10px;
  margin: 5%;
  align-self: center;
  width: 10rem;
}

#moon-button{
  width: 2rem;
  position: absolute;
  bottom: 86%;
  left: 94%;
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
}

#moon-button:hover{
  width: 2.3rem;
  transition: ease-in-out;
}

.sun-data{
  font-family: "Almoni ML v5 AAA Light";
  font-size: 1.6rem;
}

.back-button{
  background-color: #f38600;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 2%;
  font-size: 1rem;
  margin: 2%;
  width: 6rem;
  border-radius: 7px;
}

.back-button:hover, #submit-button:hover{
  color: #f38600;
  background-color: rgb(255, 255, 255);
}


@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
}

60% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
}


@media only screen and (max-width: 600px) {
  #main-container {
    margin-top: 15vh;
    width: 100vw;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Almoni ML v5 AAA Light";
    color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    transition: width 2s, height 2s, transform 2s;
  }

  #time-form {
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    padding: 1rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: "Almoni ML v5 AAA Light";
    font-size: 3rem;
    color: white;
  }

  #empty{
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 0rem;

    
}

html {
  scroll-behavior: smooth;
}   

#weather {
  display: flex;
  flex-direction: column;
  width: 23rem;
  padding: 1.6rem;
  text-align: center;
  background-image: url("https://i.ibb.co/6vRJpw4/glass-panel2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#moon-button{
  width: 2rem;
  position: absolute;
  bottom: 90%;
  left: 80%;
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
}

}

@media only screen and (min-width: 600px) {



}

